.container {
	padding-top: 20px
}

#container_franchise_graph {
	padding-top: 15px;
	
}

.collection.with-header .collection-header {

/*	border-bottom: none !important*/
}

.divider {

	margin-bottom: 0.912rem
}

#top_head {
	display: inline-block !important
}

#not_adjusted {
	display: inline-block !important
}

.box_office {
	float: right
}

.home_table_btn {
	float: right;
	padding-bottom: 10px;
}

a.collection-item {
	color: #039be5 !important
}