<template name="movies">


<div class="row">
  <div class="input-field col s12">
    <select class="browser-default dropdown_text_color" id="year_select" name="year_selector">
      <option value="" disabled selected>Select Year</option>
      <option value="1995">1995</option>
      <option value="1996">1996</option>
      <option value="1997">1997</option>
      <option value="1998">1998</option>
    </select>
  </div>
</div>
        
<!--     {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}} -->
	<div class="row">
    <div class="col s12">
    <div id="container-pie" ></div>
      </div>
  </div>
</template>

