<template name="movies">


	<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#1995">1995</a></li>
        <li class="tab col s3"><a class="active" href="#1996">1996</a></li>
        <li class="tab col s3 disabled"><a href="#1997">1997</a></li>
        <li class="tab col s3"><a href="#1998">1998</a></li>
      </ul>
    </div>
  </div>
        
<!--     {{> highchartsHelper chartId="test" chartWidth="100%" charHeight="100%" chartObject=topGenresChart}} -->
	<div class="row">
    <div class="col s12">
    <div id="container-pie" ></div>
      </div>
  </div>
</template>