<template name="keywordPage">
	<div class="row">
    	<div class="col s12">
	 <div id="container-min-max"></div>
	</div>
</div>
	<div class="row">
    <div class="col s12">
      <h5>Full List of {{keyword}} Movies</h5>
    </div>
		<div class="col s12">

      <table>
        <thead>
          <tr>

              <th>Title</th>
              <th>Release Date</th>
              <th>Rating</th>
              <th>Genre</th>
              <th>Domestic Box Office</th>
          </tr>
        </thead>
        <tbody>
        	{{#each movies}}
        		{{>movieTable}}
        	{{/each}}
        </tbody>
      </table>
  </div>
</div>
    
   

</template>



