<template name="batman">
<div class="row">
	<div class="col s12">
		<p>The modern Batman film franchise started with <i>Batman</i> (1989), which was both a financial and critical success. The film overcame a good amount of negative pre-release buzz, stemming from the onconventional casting of Michael Keaton as Batman. Before then, he was mostly known as a comedic actor. Fans were also nervouse of having a relatively unknown Tim Burton direct the film, as he had never directed anything of this magnitude before.</p> 
		<p>After a dissapointing box-office turnout for 1992's <i>Batman Returns</i>, Warner Bros. decided it wanted to take the movie in a new direction. <i>Returns</i> was considered overly grim and violent for a super hero movie. The studio was especially upset by the fact that McDonald's cancelled a Happy Meal toy run based on the film, due to it's graphic violence. Burton and Keaton left the franchise after their artistic freedom was stripped away from them in favor of marketability.</p> 
	</div>
	<div class="col s7">
		<p>As you can see on our graph on the right, <i>Batman Forever</i> was a modest box office success with domestic gross of over $180 million (adjusted for inflation) on a budget of around $150 million. The film was not well recieved by critics (<a target="blank" href="http://www.rottentomatoes.com/m/batman_forever/">41% on Rotten Tomatoes</a>) or fans, who found it to be overly campy, busy, and even boring. <i>Batman & Robin</i> was where the franchise hit rock bottom, as it is the only Batman film to not make back its budget. Critics and fans really hated it (<a target="blank" href="http://www.rottentomatoes.com/m/1077027-batman_and_robin/">41% on Rotten Tomatoes</a>) to the point where it frequently placed on the shortlist for the worst movie ever made.</p> 
		
		<p>After the poor reception of <i>Batman & Robin</i>, Warner Bros. cancelled plans for a sequel and let the series lay dormant for a few years. In 2003, they hired Christopher Nolan to direct a 'reboot' that would esentially ignore the previous movies and launch the character anew in a new 'unviverse'. One of the pivotal focuses of the reboot was to establish a "dark and gritty" mood to the films and wipe away all of the silliness that existed in the prior films. <i>Batman Begins</i> was released in 2005 to critical acclaim, but only modest box office success. Nevertheless, Warner Bros. commishioned Nolan to direct a sequel, due to strong rentals and sales once the original reached home video.</p> 

		<p>Warner Bros.' commitment to Nolan and building the franchise from the ground-up paid off in a big way when <i>The Dark Knight</i> was released in 2008. The movie became the highest grossing movie in 2008, and was almost universally praised by critics and fans for its strong acting performances and smart script.</p>
	</div>
	<div class="col s5" id="container_franchise_graph"></div>
		<div class="col s12">
		<p>The Nolan-lead reboot inadvertantly lead to an industry-wide trend.
			<li>Studios quick to commision reboot after even mild underperfomance</li>
			<li>Hire cheaper talent and rid self of expensive talent(This would probably fit better with Spider-Man)</li>
			<li>Studios dig deep into archives to find old unused franchises.</li>

		</p> 
	</div>
</div>
</template>