<template name="actorPage">
<div class="section">
 	<h3>{{actor}}</h3>
 <div class="divider"></div>
 </div>
  <div class="row">
  	  <div class="col s12">
  	{{>actorGraph}}
  </div>
 	  <div class="section col s12">

    <h5>Movie List</h5>
    	     <table>
        <thead>
          <tr>
              <th data-field="movie_title">Release Year</th>
              <th data-field="movie_production_budget">Title</th>
          </tr>
        </thead>

        <tbody>
        {{#each movies}}
        	{{>actorMovieTable}}
        {{/each}}
        </tbody>
      </table>


  </div>

</div>
</template>