<template name="scatterplot">
	<div class="row">
  <div class="input-field col s6 m12 l12">
    <select class="browser-default dropdown_text_color" id="year_select_scatter" name="year_selector_scatter">
      <option value="" disabled selected>1995</option>
      <option value="1995">1995</option>
      <option value="1996">1996</option>
      <option value="1997">1997</option>
      <option value="1998">1998</option>
    </select>
  </div>
</div>
	<div class="row">
  <div class="input-field col s6 m12 l12">
    <select class="browser-default dropdown_text_color" id="year_select_scatter2" name="year_selector_scatter2">
      <option value="" disabled selected>1996</option>
      <option value="1995">1995</option>
      <option value="1996">1996</option>
      <option value="1997">1997</option>
      <option value="1998">1998</option>
    </select>
  </div>
</div>
        
	<div class="row">
    	<div class="col s12">
    		<div id="container-scatter" style="min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto"></div>
    	</div>
    </div>

</template>