<template name="index">

<div class="row">
  <div class="section col s12">
  <h4>Data Stories</h4>
  <div class="divider"></div>
</div>
   
        <div class="col s12 m12 l7">
          <div class="card blue-grey darken-1">
            <div class="card-content white-text">
              <span class="card-title">Batman and Spider-Man: A Tale of Two Reboots</span>
              <p>Sint incorrupte at sit. Sea ad mollis vivendo, nonumy habemus neglegentur pri no. No ferri sanctus mei, at mea vocent officiis delicatissimi, congue audire noluisse ius in. Fabulas volumus usu in, an ullum antiopam quo. Primis tacimates ex eam, qui an velit graeci. Ne sit ullum tempor vocibus, usu sapientem salutandi ex. An dolore maiorum scaevola sea, idque graeci alterum eu cum.
</p>
            </div>
            <div class="card-action">
              <a href="{{pathFor 'batmanSpiderMan'}}">Click here for the full story</a>
            </div>
          </div>
        </div>
      </div>

<div class="row">
  <div class="section col s12" id="">
    <h4 id="top_head">Top Domestic Grossing</h4>
    <h6 id="not_adjusted">(Not Adjusted for Inflation)</h6>

  <div class="divider"></div>
</div>
 <div class="section col s12 m12 l6">
  <h5>Franchises</h5>
  <div class="divider"></div>
  {{>homeTopFranchises}}
  <a class="waves-effect waves-light btn home_table_btn" href="{{pathFor 'fullListOfFranchises'}}">Full Franchise List</a>

</div>
 <div class="section col s12 m12 l6">
  <h5>Movies</h5>
  <div class="divider"></div>
  {{>homeTopMovies}}
  <a class="waves-effect waves-light btn home_table_btn" href="{{pathFor 'fullListOfMovies'}}">Full Movie List</a>
</div>
 <div class="section col s12 m12 l6">
  <h5>Actors</h5>
  <div class="divider"></div>
  {{>homeTopActors}}
  <a href="#">Top 100 Actors</a>
</div>
 <div class="section col s12 m12 l6">

  <h5>Keywords</h5>
  <div class="divider"></div>
  {{>homeTopKeywords}}
  <a href="#">Top 100 Keywords</a>
</div>


</div>

<div class="row">
  <div class="section col s12">
  <h4>Graphs and Tables</h4>
  <div class="divider"></div>
</div>


      <div class="col s12 m12 l6">
        <ul class="collection with-header">
          <li class="collection-header"><h5>Graphs</h5></li>
           <a href="{{pathFor 'scatterplot'}}" class="collection-item">Top Grossing Movies by Year</a>
          <a href="{{pathFor 'monthlyAverageLine'}}" class="collection-item">Total Monthly Gross Breakdown by Year</a>
           <a href="{{pathFor 'areaChart'}}" class="collection-item">Rating Breakdown by Year</a> 
        </ul>
      </div>

      <div class="col s12 m12 l6">
        <ul class="collection with-header">
          <li class="collection-header"><h5>Tables</h5></li>
           <a href="{{pathFor 'fullListOfFranchises'}}" class="collection-item">All Franchises</a>
           <a href="{{pathFor 'mostMovies'}}" class="collection-item">All Keywords</a>
           <a href="{{pathFor 'fullListOfMovies'}}" class="collection-item">All Movies</a>
        </ul>
      </div>
</div>

            
        
</template>