<template name="index">
<div class="row">
  <div class="divider"></div>
<div class="section col s12">
  <h5>Browse by Category:</h5>

</div>

</div>


<div class="row">



<div class="col s4">
 
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://cdn2-b.examiner.com/sites/default/files/styles/image_content_width/hash/d3/54/d3547538aa6faa7433246ed8a55c9e67.jpg?itok=2fV9j2_R">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Movies<i class="material-icons right">more_vert</i></span>
      <p><a href="{{pathFor 'topGrossingMovies'}}">Top Grossing Movies</a></p>
      <p><a href="{{pathFor 'fullListOfMovies'}}">Full List of Movies</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>Here is some more information about this product that is only revealed once clicked on.</p>
    </div>
  </div>
            
 </div> 
 <div class="col s4">
 
 <div class="card">
    <div class="card-image waves-effect waves-block waves-light">
      <img class="activator" src="http://i.imgur.com/qIxONvq.jpg">
    </div>
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Franchises<i class="material-icons right">more_vert</i></span>
      <p><a href="{{pathFor ''}}">Highest Grossing Franchises</a></p>
      <p><a href="{{pathFor 'fullListOfFranchises'}}">Full List of Franchises</a></p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Franchises<i class="material-icons right">close</i></span>
      <p>With the cost of the producing a modern blockbuster being well into the
        hundreds of millions of dollars, studios are increasingly more reliant on
        established franchises. Because of this we have seen an unprecedented number of sequels and reboots, all with the hope that a sizable amount of fans will show up regardless of the quality of the film.
      </p>
    </div>
  </div>
            
 </div> 
 </div>         
</template>